<h1>{{ section.settings.Text }} </h1>

{% schema %}
{
  "name" : "Banner",
  "settings": [
    {
      "type" : "text",
      "id": "Text",
      "label": "Heading"
    }
  ],
  "presets" : [
    {
      "name" : "default banner settings"
    }
  ]
}
{% endschema %}