<h1>{{ section.settings.header_text }}</h1>
Find the ideal gift for your loved ones.
{% schema %}
{
"name" : "banner",
"settings" : [
    {
        "type": "text",
        "id": "header_text",
        "label": "Text"
    }
],
"presets" : [
    {
        "name" : "banner"

    }
]
}
{% endschema %}
